.App {
  text-align: center;
  margin-left: 6vw;
  margin-right: 6vw;  
  display: grid;
  grid-template-areas: 
  "h h"
  "a1 a2"
  "a3 a4"
  "f f";
}

.Header {
  grid-area: h;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 6em;
  padding: 15px;
  padding-bottom: 0px;
}

.A1 {
  grid-area: a1;
}

.A2 {
  grid-area: a2;
}

.A3 {
  grid-area: a3;
}

.A4 {
  grid-area: a4;
}

.Footer {
  grid-area: f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  color: white;
  background-color: rgb(45, 45, 45);
  padding: 8px;
 }



